@charset "utf-8";
.ifruit{
	width: 1200px;
	height: 420px;
/*	background: red;*/
	margin: 10px auto 0;
}
.ifruit-name{
	width: 1198px;
	height: 70px;
	background: silver;
	color: green;
	line-height: 70px;
	font-size:24px;
	font-weight: 700;
	position: relative;
	text-indent: 3em;
}

.ifruit-name>span{
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	background: url(../img/floor_guide.png) 5px 0px no-repeat;
	top: 15px;
	left: 0;
}

.ifruit>div{
	float: left;
	border: 1px solid silver;
}


.ifruit>div:nth-child(2){
	width: 248px;
	height: 348px;
	background: blue;
	background: url(../img/big41.jpg);
}

.ifruit>div:nth-child(3),.ifruit>div:nth-child(4){
	width: 248px;
	height: 173px;
	background: yellowgreen;
}

.ifruit>div:nth-child(5),.ifruit>div:nth-child(6){
	width:448px;
	height: 173px;
	background: pink;
}

.ifruit>div:nth-child(7),.ifruit>div:nth-child(8){
	width:248px;
	height: 173px;
	background: yellowgreen;
}


.ifruit>div:nth-child(n+2):hover{
	transform: translateX(-2px);
	transition: 0.2s;
	cursor: pointer;
	
}
