@charset "utf-8";
.nav-top{
	width: 1366px;
	height: 50px;
	/*background: red;*/
	border-bottom:1px solid green ;
}

.nav-top-name{
	width: 1000px;
	height: 50px;
	/*background: blueviolet;*/
	line-height: 50px;
	margin-left:80px ;
	
}

.nav-top-name>a{
	text-decoration: none;
	color: black;
}
.nav-top-name>a:hover{
	color: green;
}
